*
!.gitignore
!.gitconfig
!.zprofile
!.zshenv
!.librewolf
!.librewolf/nc7ukzxo.default
!.librewolf/nc7ukzxo.default/chrome
!.librewolf/nc7ukzxo.default/chrome/*
!.config
!.config/conky
!.config/conky/conky.conf